.AboutMeMainDiv{
    display: flex;
    align-items: center;
}
.WorkDivs{
    background-color: #4F4F4F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    align-items: center;
}