
.HeaderDiv{
    width: 100%;
    border: 1px solid yellow;
}

.SocialNames{
    color: white;
    margin-top: 3px;
    font-size: 0.8rem;
}
.SocialIcons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.NavbarBackgroundGradient{
    background-image: linear-gradient(to right, black, #262626, #2D2D2D);
}


  