.ProjectsBoxShadow{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.buttonView{
    color: white;
    border-color: white;
    padding-left: 1.3rem;
    border-radius: 8px;
    padding-right: 1.3rem;
    background: none;

}