@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#root {
    min-height: 100vh;
    justify-content: center;
    background-color: #3B3E46;
}

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }